This is a simple test of the Binder tool for hosting and running Jupyter Notebooks.

In [4]:
import pandas as pd
%matplotlib inline
from collections import OrderedDict

In [8]:
data = OrderedDict([
    ('class', ['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B'])
    , ('result', [80, 92, 73, 98, 85, 89, 94, 72, 81, 96])
])

df = pd.DataFrame(data)

In [9]:
df

  class  result
0     A      80
1     A      92
2     A      73
3     A      98
4     A      85
5     B      89
6     B      94
7     B      72
8     B      81
9     B      96

What is the mean result for each class?

In [12]:
df.groupby('class').mean()

       result
class
A        85.6
B        86.4