Here is a brief test using pandas:

In [2]:
import pandas as pd
%matplotlib inline
from collections import OrderedDict

In [14]:
data = OrderedDict([
    ('invoice_id', list(range(1,10)))
    , ('account_id', [101, 101, 102, 101, 102, 103, 102, 101, 103])
    , ('amount', [10, 10, 15, 20, 15, 10, 25, 35, 10])
])

df = pd.DataFrame(data)

In [15]:
df

   invoice_id  account_id  amount
0           1         101      10
1           2         101      10
2           3         102      15
3           4         101      20
4           5         102      15
5           6         103      10
6           7         102      25
7           8         101      35
8           9         103      10

Note that invoice_id increments over time, so it can be used like a timestamp.

### Question 1

For each account, find the most recent invoice.

account_id
101    8
102    7
103    9
Name: invoice_id, dtype: int64

### Question 2

For the most recent invoice on each account from Question 1, find its amount.

7    35
6    25
8    10
Name: amount, dtype: int64

### Question 3

Find the average of the 3 most recent amounts for each account.